<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Products </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .vertical-menu {
    width: 200px;
    margin-top:3%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    height:50px;
    text-align:center;
   
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

/* Search Bar */
.search-bar{
    
    width:50%;
    margin:auto;
}
input[name=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    font-family:bold;
    
    background-color: rgba(0,0,0,0);
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding:5px 0 5px 15px;
   }
  </style>
</head>
<body>

        <nav class="navbar navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand" href="#">
                        <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
                        JOGI NUTRITION
                      </a>
                <div class="form-inline">
                        <a href='/settings'><button class="btn btn-outline-success my-2 my-sm-0" type="submit">SETTINGS</button></a>&nbsp
                  <a href='/logout'><button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOGOUT</button></a>
                </div>
              </nav>
              <h1 style="width:100%;text-align:center;margin-top:1%;">MY PRODUCT</h1>
              <form class="search-bar" method='post' action='/search'>
                    <br><br>
                    <input  type="text" name="search" placeholder="Search..">
                  </form>
<div class="box-1" style="display:inline-flex;width:100%;">
              <div class="vertical-menu">
                    <a href="/addproduct" >Add Product</a>
                    <a href="/myproduct" class='active'>My product</a>
                    <a href="/mymessage">Message</a>
                  </div>
                  

                  
                      

<!-- card of the image -->
                    
                 <div class="container"style=" margin:2%; ">
                     <!-- 1st row -->
                     <%data.forEach(function(item){%>
                      
                                      <div class="col-sm">  
                      <div class="card" style="width: 18rem;">
                            
                      <img class="card-img-top" src="<%= item.imageurl %>" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text"><%=item.description%></p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= item.name%></li>
                        <li class="list-group-item"> <strong>Rs</strong><%= item.price%></li>
                        <li class="list-group-item"><%= item.category%></li>
                      </ul>
                      <div class="card-body">
                        <a href="/edit/<%=item._id%>" class="card-link">EDIT</a>
                        <a href="/deleteproduct/<%=item._id%>" class="card-link">DELETE PRODUCT</a>
                      </div>
                    </div>             
                    <br>
                <%});%>
                 </div>
                
<!-- 2nd row -->

                

                    

              

                      
                      