<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Products </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .vertical-menu {
    width: 200px;
    margin-top:3%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    height:50px;
    text-align:center;
   
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

/* Search Bar */
.search-bar{
    
    width:50%;
    margin:auto;
}
input[name=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    font-family:bold;
    
    background-color: rgba(0,0,0,0);
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding:5px 0 5px 15px;
   }
  </style>
</head>
<body>

        <nav class="navbar navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand" href="">
                        <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
                        JOGI NUTRITION
                      </a>
                <div class="form-inline">
                       <a href='/settings'> <button class="btn btn-outline-success my-2 my-sm-0" >SETTINGS</button></a>&nbsp
                  <a href='/logout'><button class="btn btn-outline-success my-2 my-sm-0" >LOGOUT</button></a>
                </div>
              </nav>
              <h1 style="width:100%;text-align:center;margin-top:1%;">MY PRODUCT</h1>
              <form class="search-bar" method='post' action=''>
                    <br><br>
                    <input  type="text" name="search" placeholder="Search..">
                  </form>
<div class="box-1" style="display:inline-flex;width:100%;">
              <div class="vertical-menu" >
                    <a href="/addproduct" >Add Product</a>
                    <a href="/myproduct"class="active">My product</a>
                    <a href="/mymessage">Message</a>
                    
                  </div>
                  <div class="about-product" style="width:60%;">
                    <%data.forEach(function(item){%>
                  <div class="product-card" style="display:inline-flex;width:100%;margin:2%;padding:2%;border:black 1px solid;">
                      <img class="img" src="<%=item.imageurl%>" >
                      <div class="about-product" style="width:100%;padding:2%;">
                          <h4>name</h4>
                         <div class="title" style="border-bottom:gray  1px solid;"><h5 ><%=item.name%></h5></div>
                           <h4>category</h4> 
                         <div class="title" style="border-bottom:gray  1px solid;"><h5 ><%=item.category%></h5></div>
                          <h4>price</h4>
                         <div class="title" style="border-bottom:gray  1px solid;"><h5 ><%=item.price%></h5></div>
                         <h4>description</h4>
                         <div class="title" style="border-bottom:gray  1px solid;"><h5 ><%=item.description%></h5></div>
                      </div>
                         <div class='title'>
                        <a href="/edit/<%=item._id%>" ><button class='btn btn-success'>edit</button></a>
                         </div>
                         <div class='title'>
                        <a href="/deleteproduct/<%=item._id%>" ><button class='btn btn-danger'>delete</button></a>
                         </div>
                        </div>
                        <%});%>
                  </div>

                  

                  
                      

<!-- card of the image -->
                    
                

                      
                      